<html>
  <head>
    <title>Star Tracker Library - AS</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Star Tracker Library</h1>
      <nav id='navigation'>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/galaxies">Galaxies</a></li>
          <li><a href="/planets">Planets</a></li>
          <li><a href="/stars">Stars</a></li>
        </ul>
      </nav>
    </header>

    <main id='app'>
    {% block app %}
    {% endblock %}
    </main>
  </body>
</html>