{% extends "layouts/base.html.twig" %}

{% block app %}

<h2>{{title}}</h2>

<p>
  name: {{galaxy.name}}<br>
  size: {{galaxy.size}}<br>
  description: {{galaxy.description}}<br>
</p>


{% endblock %}